body {
    font-family: Verdana,"メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

#content {
    max-width: 100%; 
}

.tocify-subheader[data-tag="2"] .tocify-item {
  font-size: 0.90em;
  padding-left: 25px;
  text-indent: 0;
}
.tocify-subheader[data-tag="3"] .tocify-item {
  font-size: 0.85em;
  padding-left: 45px;
  text-indent: 0;
}
.tocify-subheader[data-tag="4"] .tocify-item {
  font-size: 0.80em;
  padding-left: 65px;
  text-indent: 0;
}
.tocify-subheader[data-tag="5"] .tocify-item {
  font-size: 0.75em;
  padding-left: 85px;
  text-indent: 0;
}
.tocify-subheader[data-tag="6"] .tocify-item {
  font-size: 0.70em;
  padding-left: 105px;
  text-indent: 0;
}